body {
    overflow: auto;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}


.mobile-menu{
    display: none;
    z-index: 100;
    width: 100%;
}

.name-missing{
    flex: 1 1 auto;
    align-items: center;
    display: flex;
}

.mobile-top-bar-container{
    display: flex;
    border-bottom: 1px solid #0B4051;
    height: 50%;
    background: #19586D;
}

.mobile-top-bar{
    flex: 1 1 auto;
    align-items: center;
    display: flex;
}

.search-container{
    width: 100%;
    display: flex;
    padding: 2px;
}

.search{
    flex-grow: 2;
    border: none;
    background: none;
    color: whitesmoke;
    padding-left: 30px;
}

.search-button{
    background-color: #19586D;
    width: 72px;
    padding: 0;
    border: none;
    border-right: 1px solid #0B4051;
}


.side-bar-container{
    width: 200px;
    position: fixed;
    height: 100%;
    z-index: 5;
    display: flex;
}

.branch-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
    width: 100%;
    background-color: #194a5a;
    -webkit-box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.75);
    z-index: 10;
}

.utility-side-bar{
    background-color: #1B5163;
    flex-shrink: 0;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(222, 235, 255);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 64px;
    padding: 16px 0px;
}

.utility-top{
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    text-align: center;
}

.container-side{
	position:relative;
	z-index:5;
	-webkit-order: 1;
    background-color:#19586D;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
}

.content{

}

.slider{
    transform: translateX(-100%);
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #6490a0 radial-gradient(circle, transparent 1%, #5e8896 1%) center/15000%;
}

.ripple:active {
    background-color: #6092a5;
    background-size: 100%;
    transition: background 0s;
}

.utility-buttons-container{
    font-size: 0;
    bottom: 0;
    position: absolute;
    margin-bottom: 70px;
    width: 100%;
    vertical-align: middle;
}


.utility-buttons{
    margin: 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 0;
    border: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*box-shadow: inset 0px 0px 0px, 0 0 4px #000 !important;*/
    color: #252525;
}

.utility-buttons:active{
    background-color: #518ca2 !important;
}

.utility-buttons:hover{
    background: #6490a0 radial-gradient(circle, transparent 1%, #5e8896 1%) center/15000%;
}

.mobile-buttons-container{
    width: 100%;
    height: 50px;
    z-index: 3;
    background: #19586D;
    position: fixed;
    display: none; 

}

.mobile-buttons{
    width: 28%;
    height: 100%;
    border:0;
}

.show{
    display:block !important;
}

.profile-picture{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 72px;
    height: 72px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.feed, .my-groups, .map{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0;
    color: white;
    /* border-top: 1px solid #003850; */
    width: 120px;
}

.feed, .my-groups, .map, .feed:visited, .my-groups:visited, .map:visited{
    color: white;
    font-weight: 400;
    font-size: 1.4rem;
}

.main-buttons{
    font-size: 1.4rem;
    display: inline-block;
    line-height: 50px;
}

.mobile-slider{
    margin-top: 55px !important;
}

.main{

}

.main-wrapper{

}

.top-bar{
    width: 100%;
    position: fixed;
	top:0;
    background-color: #4A8396;
    height: 7%;
    order: 1;
	-webkit-order: 1;
    /*pointer-events:none;    ftiaksimo*/ 
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}


.success-message-container{
    position: absolute;
    bottom: 0;
    width: 200px;
    margin-bottom: 20px;
    margin-left: 100px;
    border: 1px solid black;
    z-index: 100;
    background-color: green;
    text-align: center;
}

@media all and (min-width: 1201px){
    .container-side {
        display: block;
    }
}

@media all and (max-width: 1200px) {
    .root-wrapper{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .utility-side-bar{
        display: none;
    }

    .utility-buttons{
        display: none;
    }

    .mobile-buttons-container{
        display: inherit; 
     }
     
    .container-side {
        display: none;
        width: 100% ;
		position:fixed;
        height: 130px;
        align-items: center;
    }

    .drawer-btn{
        right: 0;
        left: unset;
        margin: 0 10px 0 0 !important;
    }

    .slider{
        transform: translateY(-100%);
    }

    .closed-drawer-container{
        display: none;
    }

    .drawer-container{
        display: none;
    }

    
    .main-wrapper{
        display: none;
		position:static;
    }

    .feed, .my-groups, .map{
        display: none;
    }

    .main{
        margin-top: 100px;
    }
    .mobile-menu{
        position: fixed;
        display: block;
    }

    .side-bar-container{
        display: none;
    }
  }

  @media all and (max-width: 700px) {
    .container-side {
        width: 100% ;
        height : 80px;
        align-items: center;
    }
  }

.flex-fill {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
 }

a,button::-moz-focus-inner { /* removes dotted outline firefox */
    border: 0;
  }
  
  

a,button { /* removes outline */
    cursor: pointer;
    -moz-outline-style: none; 
    outline-style: none;
    outline: none;
}