.tree-container{
  margin-left: 200px;
  margin-right: 200px;
}

ul.tree {
  overflow-x: hidden;
  display: table-cell;
  vertical-align: middle;
  align-items: center;
  overflow-y: auto;
  position: relative;
  white-space: nowrap;
}
ul.tree,
ul.tree ul {
   /* display: inline-block; Used for horizontal tree view */
  width: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.tree li {
  /*display: inline-block;
  Used for top-down tree view
  */

  display: flex;
  /*Used for horizontal tree view*/

  width: auto;
  
  vertical-align: top;
  padding: 0;
  margin: 15px 20px 15px 10px;
}
/*ul.tree ul li {
  background-image: url(data:image/gif;base64,R0lGODdhAQABAIABAAAAAP///ywAAAAAAQABAAACAkQBADs=);
  background-repeat: repeat-x;
  background-position: left top;
}*/
ul.tree li span {
  font-size: 1.8rem;
  display: block;
  word-break: break-all;
  margin: 0 auto;
  text-align: center;
  white-space: normal;
  letter-spacing: normal;
}

/*A, A:visited, A:active {
  color: #c00;
  text-decoration: none;
}
A:hover {
  text-decoration: underline;
}*/
ul.tree,
#wrapper {
  width: 100%;
  margin: 0 auto;
}
ul.tree {
  /*width: 650px;*/
}
.clearer {
  clear: both;
}

@media all and (max-width: 1200px) {
    ul.tree {
        display: flex;
        flex-flow: column;
    }
}