
.branch-profile-container{
    position:absolute;
    margin-top: auto;
    margin-bottom: auto;
    border-radius:  50%;
}

.branch-container{
    background-color: #ffffff;
    margin-top: 10px;
}

.under-banner-info{
    position: relative;
    width:100%;
}

.branch-name{
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: start;
}

.group-banner{
    width: 200px;
    background-color: rgb(231, 231, 231);
    display: inline-block;
    padding-top: 40.25%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.parent{
    flex-basis: 60%;
}

.group-join{
    border: 0;
    background-color: #004796;
    height: 40px;
    font-size: initial;
    font-weight: bold;
    font-family: Arial;
    color: #f8f8f8;
    flex-basis: 20%;
}

.group-navigation-container{
    width:400px;
    margin-left: 270px;
    height: 60px;
    display: flex;
}

.group-navigation-button{
    font-weight: 500;
    text-decoration: none;
    color: #2d2d2d;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.clicked-navigation-button{
    font-weight: bold;
    border-bottom: 3px solid #2196F3;
    color:#2196F3;
}

.navigation-button-text{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    align-self: center;
}

.branch-settings-container{
    margin-left: 200px;
    margin-right: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.branch-details-children{
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.branch-footer{
    height: 200px;
    flex-flow: column;
    align-items: center;
}

.branch-description{
    font-size: 1.5em;
    flex-basis: 50%;
}

.banner-editmode{
    font-size: 2em;
    padding: 20px!important;
    top:50%;
    width:35% !important;
}

.branch-parent-picture{
    width: 200px;
    height: 200px;
    border: 5px solid white;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    z-index: 5;
}

.branch-child-picture{
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    left: 20px;
    bottom: -60px !important;
    width: 100px;
    height: 100px;
}

.branch-type-selection-bar{
    height: 100px;
    background-color: #2196f3;
}

.branch-type-selection-wrapper{
    margin: 0 auto;
    height: 100%;
    width: 625px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4em;
}

.branch-selection{
    height: 100%;
    display: flex;
    align-items: center;
    flex-basis: 33%;
    justify-content: center;
}

.branch-selection:hover {
    background-color: #1888e2;
}

.branch-add-button{
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    height: 334px;
    background-color: rgb(216, 225, 234);
    justify-content: center;
    align-items: center;
    flex-basis: 33%;
}

.branch-add-button:hover .branch-add-icon{fill: #2196f3  !important;}
.branch-add-button:hover .branch-add-text{color: #2196f3;}

.star:hover .star-icon{stroke: #fb4c4c  !important;}
.star:hover .star-count{color: #fb4c4c !important;}

.comments:hover .comments-icon{stroke: #2196f3  !important;}
.comments:hover .comments-count{color: #2196f3 !important;}



.branch-add-icon{
    fill: #71859b;
    width: 100px;
    height: 100px;
    transition: fill 0.2s ease-in-out;
}

.branch-add-text{
    color:#71859b;
    font-size: 3em;
    transition: color 0.2s ease-in-out;
}

.standard-border{
    border: 1px solid #efefef;
}

.post{
    background-color: white;
    padding: 10px;
    display: flex;
    transition: opacity 0.1s ease-in-out;
}

[postState="closed"]:hover{
    background-color:#f4f6f9;
    cursor: pointer;
}

.main-post{
    opacity: 1!important;
}

.secondary-post{
    opacity: 0.5;
}

.post-actions{
    fill: transparent;
    stroke: rgb(67, 78, 88);
    stroke-width: 4;
    height: 18px;
    overflow: visible;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.post-action-container{
    min-width: 80px;
}

.star-clicked{
    stroke-width: 0;
    fill:#fb4c4c;
}

.comments-clicked{
    stroke-width: 0 !important;
    fill:#03A9F4;
}

.spread-box{
    height: 100px;
    width: 400px;
    margin-left: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 7px;
    z-index: 10;
}

.spread-button{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 0px;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.75);
}

.spread-button:hover{
    background-color: #f3f3f3;
}

.spread-url:hover{
    cursor:default;
}

.spread-clipboard-input{
    margin: 0;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.75);
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
}

.spread-url-hidden-btn{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: transparent;
    border: 0
}

p.top-spread-list{
    padding-top: 2px;
    font-size: 1.3rem;
    margin: 0;
    font-weight: 600;
    color: #455d6f;
}

div.top-spread-list{
    border-bottom: 1px solid #e2eaf1;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.arrow-right{
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #c1d3e2;
}

.following-main{
    color:#2196F3;
    border: 2px solid #2196F3;
    background: white;
}

.following-secondary{
    color:white;
    border: 2px solid #2196F3;
    background-color: #2196F3;
}

.following-secondary:hover{
    background-color: #1888e2 !important;
    border: 2px solid #1888e2 !important;
}

.following-main:hover{
    background-color: #2196f329 !important;
}

.slide-bottom {
	-webkit-animation: slide-bottom 0.05s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.05s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.opacity-animation{
    -webkit-transition: opacity .10s ease-in-out;
    -moz-transition: opacity .10s ease-in-out;
    -ms-transition: opacity .10s ease-in-out;
    -o-transition: opacity .10s ease-in-out;
    transition: opacity .10s ease-in-out;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

.slide-top {
	-webkit-animation: slide-top 0.2s cubic-bezier(0.42, 0.0, 0.58, 1.0) both;
	        animation: slide-top 0.2s cubic-bezier(0.42, 0.0, 0.58, 1.0) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@media all and (max-width: 1200px) {
    .parent{
        padding-right: 0;
    }

    .group-container{
        width: 100%;
    }
}

@media all and (max-width: 1300px) {
    .navigation-button-text{
        font-size: 1.5em;
    }
}