
.branch-profile-container{
    position:absolute;
    margin-top: auto;
    margin-bottom: auto;
    border-radius:  50%;
}

.branch-container{
    background-color: #ffffff;
    margin-top: 10px;
}

.under-banner-info{
    position: relative;
    width:100%;
}

.branch-name{
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: start;
}

.group-banner{
    width: 200px;
    background-color: rgb(231, 231, 231);
    display: inline-block;
    padding-top: 40.25%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.parent{
    flex-basis: 60%;
}

.group-join{
    border: 0;
    background-color: #004796;
    height: 40px;
    font-size: initial;
    font-weight: bold;
    font-family: Arial;
    color: #f8f8f8;
    flex-basis: 20%;
}

.group-navigation-container{
    width:400px;
    margin-left: 270px;
    height: 60px;
    display: flex;
}

.group-navigation-button{
    font-weight: 500;
    text-decoration: none;
    color: #2d2d2d;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.clicked-navigation-button{
    font-weight: bold;
    border-bottom: 3px solid #2196F3;
    color:#2196F3;
}

.navigation-button-text{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    align-self: center;
}

.small-branch-container{
    margin: 10px 0;
}

.small-branch{
    text-decoration: none;
    color:rgb(35, 35, 35);
    flex: 1 1 auto;
}

.small-branch:hover{
    text-decoration: underline;
}

.branch-settings-container{
    margin-left: 200px;
    margin-right: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.branch-details-children{
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.branch-footer{
    height: 200px;
    flex-flow: column;
    align-items: center;
}

.branch-description{
    font-size: 1.5em;
    flex-basis: 50%;
}

.banner-editmode{
    font-size: 2em;
    padding: 20px!important;
    top:50%;
    width:35% !important;
}

.branch-parent-picture{
    width: 200px;
    height: 200px;
    border: 5px solid white;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    z-index: 4;
    object-fit: cover;
}

.branch-child-picture{
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    left: 20px;
    bottom: -60px !important;
    width: 100px;
    height: 100px;
}

.post-list{
    flex-basis: 56%;
    width: 100%;
    padding:0;
    margin:0 10px;
    list-style:none;
    border: 1px solid rgb(226, 234, 241)!important;
}

@media all and (max-device-width: 1223px) {
    .post-list{
        flex-basis: 100%;
        border:none !important;
        margin: 0;
    }
}


.post-to-branch-tab-list{
    display:flex;
    margin:0;
    padding:20px 0;
    justify-content: space-around;
}

.post-to-branch-tab-list-selected{
    border-bottom: 3px solid #2196f3;
}

.post-to-branch-tab{
    display:block;
    font-size: 2rem;
    font-weight: bold;
}

.post-to-branch-tab-panel{
    padding:15px 20px;
}

.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #d2d2d2;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #009BFF;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #009BFF;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #009BFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}



/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    opacity:0;
    z-index: 999;
    /*-webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;*/
}

.filter-selector-wrapper{
    position: relative;
    font-size: 2em;
    height: 100%;
    width: 100%;
    -webkit-tap-highlight-color: #0081d8;
}

.filter-selector-wrapper:hover, .filter-action-arrow:hover{
    background-color: #0081d8;
}

.filter-action-arrow{
    position: relative;
    font-size: 2em;
    height: 100%;
    width: 100%;
    -webkit-tap-highlight-color: #0081d8;
    -webkit-justify-content: center;
    justify-content: center;
}

.filter-action-arrow-button{
    border: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

@media (hover: none) {
   .filter-selector-wrapper {
      background-color: transparent !important;
   }
}

.filter-selector{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.filter-selector:hover{
    cursor: pointer;
}

.filter-dropdown{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    flex-flow: column;
    width: max-content;
    box-shadow: 0 2px 8px -4px #585858;
    border-radius: 10px;
    border: 2px solid #03a9f4;
    padding: 10px 0;
    overflow: hidden;
    z-index: 55;
}

.filter-dropdown-item{
    padding: 2px 10px;
}

.filter-dropdown-item:hover{
    background-color: #81c7f7 !important;
    color:white;
    cursor: pointer;
}
.post-text{
    font-size: 1.5rem;
    overflow-wrap: break-word;
    word-break: break-all;
    white-space: pre-line;
}

.post-image-wrapper{
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    max-height: 620px;
    width: 100%;
}

.post-image-gallery{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    -webkit-transition: left 0.15s ease;
    -moz-transition: left 0.15s ease;
    -ms-transition: left 0.15s ease;
    -o-transition: left 0.15s ease;
    transition: left 0.15s ease;
}

.image-arrow-button{
    z-index: 1;
    border: 0;
    height: 50%;
    width: 9%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
}

.branch-type-selection-bar{
    height: 100px;
    background-color: #2196f3;
}

.branch-type-selection-wrapper{
    margin: 0 auto;
    height: 100%;
    width: 625px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4em;
}

.branch-selection{
    height: 100%;
    display: flex;
    align-items: center;
    flex-basis: 33%;
    justify-content: center;
}

.branch-selection:hover {
    background-color: #1888e2;
}

.branch-add-button{
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    height: 334px;
    background-color: rgb(216, 225, 234);
    justify-content: center;
    align-items: center;
    flex-basis: 33%;
}

.branch-add-button:hover .branch-add-icon{fill: #2196f3  !important;}
.branch-add-button:hover .branch-add-text{color: #2196f3;}

.star:hover .star-icon{stroke: #fb4c4c  !important;}
.star:hover .star-count{color: #fb4c4c !important;}

.comments:hover .comments-icon{stroke: #2196f3  !important;}
.comments:hover .comments-count{color: #2196f3 !important;}



.branch-add-icon{
    fill: #71859b;
    width: 100px;
    height: 100px;
    transition: fill 0.2s ease-in-out;
}

.branch-add-text{
    color:#71859b;
    font-size: 3em;
    transition: color 0.2s ease-in-out;
}

.standard-border{
    border: 1px solid #efefef;
}

.post{
    border-bottom: 1px solid rgb(226, 234, 241);
    background-color: white;
    padding: 10px;
    display: flex;
    transition: opacity 0.1s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

[postState="closed"]:hover{
    background-color:#f4f6f9;
    cursor: pointer;
}

@media (hover: none) {
   [postState="closed"] {
      background-color: white !important;
   }
}

/*.react-swipeable-view-container {
    display: -webkit-box;
    display: -ms-flexbox;
    transition: -webkit-transform 0.35s cubic-bezier(0.15, 0.3, 0.25, 1) 0s !important;
}*/

.react-swipeable-view-container{
    height: 100%;
}

.no-touch .react-swipeable-view-container {
    transition: -webkit-transform 0.35s cubic-bezier(0.15, 0.3, 0.25, 1) 0s !important;
}

.main-post{
    opacity: 1!important;
}

.secondary-post{
    opacity: 0.5;
}

.post-actions{
    fill: transparent;
    stroke: rgb(67, 78, 88);
    stroke-width: 4;
    height: 18px;
    overflow: visible;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.post-action-container{
    min-width: 80px;
}

.star-clicked{
    stroke-width: 0;
    fill:#fb4c4c;
}

.comments-clicked{
    stroke-width: 0 !important;
    fill:#03A9F4;
}

.spread-box{
    height: 100px;
    width: 400px;
    margin-left: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 7px;
    z-index: 10;
}

.spread-button{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 0px;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.75);
}

.spread-button:hover{
    background-color: #f3f3f3;
}

.spread-url:hover{
    cursor:default;
}

.spread-clipboard-input{
    margin: 0;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.75);
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
}

.spread-url-hidden-btn{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: transparent;
    border: 0
}

p.top-spread-list{
    padding-top: 2px;
    font-size: 1.3rem;
    margin: 0;
    font-weight: 600;
    color: #455d6f;
}

div.top-spread-list{
    /*border-bottom: 1px solid #e2eaf1;*/
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.notification{
    font-size: 2em;
    padding: 10px;
}

.notification:hover{
    background-color:#edf2f7;
}

.arrow-right{
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #c1d3e2;
}

.following-main{
    color:#2196F3;
    border: 2px solid #2196F3;
    background: white;
}

.following-secondary{
    color:white;
    border: 2px solid #2196F3;
    background-color: #2196F3;
}

.following-secondary:hover{
    background-color: #1888e2 !important;
    border: 2px solid #1888e2 !important;
}

.following-main:hover{
    background-color: #2196f329 !important;
}

.slide-bottom {
	-webkit-animation: slide-bottom 0.05s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.05s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.opacity-animation{
    -webkit-transition: opacity .10s ease-in-out;
    -moz-transition: opacity .10s ease-in-out;
    -ms-transition: opacity .10s ease-in-out;
    -o-transition: opacity .10s ease-in-out;
    transition: opacity .10s ease-in-out;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

.slide-top {
	-webkit-animation: slide-top 0.2s cubic-bezier(0.42, 0.0, 0.58, 1.0) both;
	        animation: slide-top 0.2s cubic-bezier(0.42, 0.0, 0.58, 1.0) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@media all and (max-width: 1200px) {
    .parent{
        padding-right: 0;
    }

    .group-container{
        width: 100%;
    }
}

@media all and (max-width: 1300px) {
    .navigation-button-text{
        font-size: 1.5em;
    }
}