aioredis==1.1.0
amqp==2.5.0
apns2==0.5.0
asgiref==2.3.2
asn1crypto==0.24.0
astroid==1.5.3
async-timeout==2.0.1
attrs==18.1.0
autobahn==18.7.1
Automat==0.7.0
autopep8==1.3.3
billiard==3.6.0.0
boto3==1.9.205
botocore==1.12.205
cachetools==3.1.0
celery==4.3.0
certifi==2017.11.5
cffi==1.11.5
channels==2.1.2
channels-redis==2.2.1
chardet==3.0.4
colorama==0.3.9
confusable-homoglyphs==2.0.2
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.7
daphne==2.2.1
decorator==4.4.0
defusedxml==0.5.0
Django==2.2.4
django-allauth==0.38.0
django-annoying==0.10.5
django-extensions==2.0.7
django-filter==1.1.0
django-js-asset==1.1.0
django-mptt==0.9.1
django-push-notifications==1.6.1
django-pwa==1.0.5
django-registration==2.3
django-rest-auth==0.9.3
django-rest-framework-nested==0.0.1
django-rest-swagger==2.2.0
django-storages==1.7.1
django-taggit==1.2.0
django-taggit-serializer==0.1.7
django-webpack-loader==0.6.0
django-widget-tweaks==1.4.1
djangorestframework==3.10.3
djangorestframework-jwt==1.11.0
docutils==0.14
drf-nested-field-multipart==0.0.3
drf-nested-routers==0.91
google-api-core==1.11.0
google-auth==1.6.3
google-cloud-core==1.0.0
google-cloud-storage==1.16.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.10
graphviz==0.8.4
h2==2.6.2
hiredis==0.2.0
hpack==3.0.0
http-ece==1.1.0
hyper==0.7.0
hyperframe==3.2.0
hyperlink==18.0.0
idna==2.6
imageio==2.5.0
imageio-ffmpeg==0.3.0
incremental==17.5.0
isort==4.2.15
itypes==1.1.0
Jinja2==2.10
jmespath==0.9.4
kombu==4.6.3
lazy-object-proxy==1.3.1
Markdown==2.6.11
MarkupSafe==1.1.1
mccabe==0.6.1
moviepy==1.0.0
msgpack==0.5.6
msgpack-python==0.5.6
numpy==1.15.4
oauthlib==2.0.6
openapi-codec==1.3.2
Pillow==5.1.0
priority==1.3.0
proglog==0.1.9
protobuf==3.7.1
psycopg2-binary==2.7.6.1
py-vapid==1.7.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycodestyle==2.3.1
pycparser==2.18
pydot==1.2.4
PyHamcrest==1.9.0
PyJWT==1.6.4
pylint==1.7.4
pyOpenSSL==18.0.0
pyparsing==2.2.0
pypiwin32==223
python-dateutil==2.8.0
python-openid==2.2.5
python3-openid==3.1.0
pytz==2017.3
pywebpush==1.10.0
pywin32==223
redis==2.10.6
requests==2.22.0
requests-oauthlib==0.8.0
rsa==4.0
s3transfer==0.2.1
scipy==1.2.0
service-identity==17.0.0
simplejson==3.16.0
six==1.11.0
South==1.0.2
sqlparse==0.3.0
tqdm==4.32.1
Twisted==18.9.0
txaio==18.7.1
uritemplate==3.0.0
urllib3==1.22
vine==1.3.0
virtualenv==15.1.0
wrapt==1.10.11
zope.interface==4.5.0
