{% extends "templates/index.html" %} {% block groups %}

<div class="map-container">
    <div>

                {% with parents=global %}
                <ul class="tree">
                        <li>
                            <div class="group"><p>Global</p></div>
                            <ul>
                            {% include "groups/recursion.html" %}
                            </ul>
                        </li>
                </ul>
                {% endwith %}
            
            
    </div>
</div>
{% endblock %}
