{% extends "templates/index.html" %}{% load static %}
{% block mapMeta %}
    <meta name="description" content="The subranch map is the easiest way to find your favorite communities. Due to the nature of its tree-like shape, finding what you like and what you might like is just a matter of visual exploration and navigation."></meta>
{% endblock %}

{% block groups %}

    <div id="map-container" class="map-container">
        <div id="tree-container" style="position: relative;">
                <ul id="tree" class="tree">
                </ul>
        </div>

        <script type="text/javascript" src="{% static 'js/groupApp.js' %}"></script>
        <script type="text/javascript" src="{% static 'groups/js/jsPlumbContainer.js' %}"></script>
    </div>

{% endblock %}
