
    {% for parent in parents.children.all %}

        <script>arr.push("{{parent.name}}")</script>
            <li>
                    <a class="group"><p>{{parent.name}}</p></a>
                    <span>{{parent.name}}</span>
                <ul>
                    {% for child in parent.children.all %}
                        <script>arr.push("{{child.name}}")</script>
                        <li>
                            <a class="group"><p>{{child.name}}</p></a>
                            <span>{{child.name}}</span>
                            <ul>
                                {% include 'groups/recursion.html' with parents=child %}
                            </ul>
                        </li>
                    {% endfor %}



                </ul>
            </li>

    {% endfor %}

    
        
    





