.room-preview{
    padding: 10px;
    -webkit-align-items: center;
    align-items: center;
    height: 10%;
    border-bottom: 1px solid rgb(226, 234, 241);
    text-decoration: none;
}

.room-preview:hover{
    background-color: #edf2f7;
}

.groupchat-container{
    display: flex;
    margin-top: 20px;
    padding: 10px;
}

.chat-media{
    width:70%;
}

.profile-icon-container{
    width:48px;
    height:48px;
    border-radius:50%;
}

.message-box{
    margin-left: 20px;
    width: 70%;
}

.text-wrapper{
    resize:none;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    height: 100%;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 1px solid #bfbfbf;
    font-family: inherit;
}

.chat-window{
    flex-direction: column;
    margin: 0 10px;
    flex-basis: 56%;
    /*-50px*/
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: fill-available;
    overflow-y: scroll;
}

/* width */
.chat-window::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.chat-window::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.chat-window::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

.chat-log{
    font-size: 1.7em;
    white-space: pre-line;
    background-color: white;
}

.message-container{
    word-break: break-all;
    margin-top:3px;
    margin-bottom:3px;
}

.text-message{
    font-size:2rem;
    display:inline-block;
}

.image-file{
    opacity:0;
    width:100%;
    height:100%;
}

.upload-input{
    position:absolute;
    width:0;
    height:0;
}

@media all and (max-width: 1200px) {
    .chat-log{
        margin-left: 5px;
        font-size: 1.2em;
    }
}