{% extends "templates/index.html" %}
{% load static %}


{% block content %}
    <div id="create-article-form"></div>
    <p>hello</p>
    <!--</div>
    <p>par</p>
    <h1>h1</h1>
    <p>par</p>
    <h1>h1</h1>
    <p>par</p>
    <h1>h1</h1>
    <p>par</p>
    <h1>h1</h1>
    <p>par</p>
    <h1>h1</h1>
    <p>par</p>
    <h1>h1</h1>
    <p>par</p>
    <h1>h1</h1>
    <p>par</p>
    <h1>h1</h1>
    <p>par</p>
    <h1>h1</h1>
    <p>par</p>
    <h1>h1</h1>
    <p>par</p>
    <h1>h1</h1>
    <p>par</p>
    <h1>h1</h1>
    <p>par</p>
    <h1>h1</h1> -->
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}