{% load static %}

<ul>
    {% for child in parents.children.all %}

        <script>arr.push("{{child.name}}")</script>
        <li>
            <a class="group-link">
                <div class="group-container" id="{{ child }}">
                    <div class="group"></div>
                    <span>{{ child.name }}</span>
                </div>

            </a>
            <ul>
                {% include 'groups/recursion.html' with parents=child %}
            </ul>
        <li></ul>


    {% endfor %}




