.map-container{
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
}

.fix-middle{
    height: 100vh;
}

.group{
    position:absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    margin-left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius:  50%;
    background-color: #d6d6d6;
    max-width: 140px;
    min-width: 48px;
    word-break: break-all;
}


.group-link{
    background-color: transparent;
}

.group-container{
    display: inline-block;
}

.group-banner{
    width: 200px;
    background-color: rgb(231, 231, 231);
    display: inline-block;
    padding-top: 40.25%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.item-container{
    align-items: center;
    display: inline-flex;
}

.parent{
    flex-basis: 60%;
}

.navigation-arrows-container{
    position: absolute;
    width: 200px;
    height: 100vh;
}

.navigation-arrows{
    height: 50%;
    width: 100%;
    display: block;
    border: 0;
    background: transparent;
}

.parent-group{
    z-index: 5;
}


@media all and (min-width: 1201px) {
    .group{
        height: 128px;
        width: 128px;
    }
}

@media all and (max-width: 1200px) {
    .group{
        height:  96px;
        width: 96px;
    }
    .parent{
        padding-right: 0;
    }

    .item-container{
        width: 90%;
        display: block;
    }

    .group-link{
        width: 100%;
    }

    .group-container{
        width: 100%;
    }
}
