{% load static %}
<!DOCTYPE html>


<html lang="en">

<head>

    <link rel="stylesheet" type="text/css" href="{% static 'accounts/register.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

<body onload="">
<div class="bar-container">


</div>


<div class="container-fluid">

    <div class="row" style="margin-top:4%;">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 main-div">
            <!--<form method="POST" id="register-form">-->
            {% block body %}

                {% if messages %}
                    <div>
                        <strong>Messages:</strong>
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div>
                    <ul>
                        <!--
                        {/% if user.is_authenticated %/}
                        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
                        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                        
                         {/% else %/}
                        <li><a href="{% url 'account_login' %}">Sign In</a></li>
                        <li><a href="{% url 'account_signup' %}">Sign Up</a></li> 
                        {/% endif %/}
                        -->
                    </ul>
                </div>
                {% block content %}
                {% endblock %}
            {% endblock %}

            {% block extra_body %}
            {% endblock %}
        </div>
    </div>

</div>
<footer class="_s5vm9" style="margin-top:20px;">
    <div class="_g7lf5">
        <nav>
            <ul>
                <li class="_538w0">
                    <a href="text"></a>
                </li>
                <li class="_538w0">
                    <a href="text"></a>
                </li>
                <li class="_538w0">
                    <a href="text"></a>
                </li>
                <li class="_538w0">
                    <a href="text"></a>
                </li>
                <li class="_538w0">
                    <a href="text"></a>
                </li>
                <li class="_538w0">
                    <a href="text"></a>
                </li>
                <li class="_538w0">
                    <a href="text"></a>
                </li>
            </ul>
        </nav>

    </div>
    <p class="text-align">copyrights</p>
</footer>
</div>
</div>
<script src="{% static 'js/jquery-3.2.1.js' %}" defer="defer"></script>
<script src="{% static 'accounts/token.js' %}" defer="defer"></script>
<script src="{% static 'accounts/events.js' %}" defer="defer"></script>
<script src="{% static 'accounts/formValidation.js' %}" defer="defer"></script>
</body>


</html>