{% load static %}

<!DOCTYPE html>

<html style="font-size: 10px;
    font-family: Roboto, Arial, sans-serif;">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Subranch</title>
    <meta name="description" content="Discover communities and people you did't know existed. Join the conversation. Become part of the Subranch tree." data-react-helmet="true">
    <link rel="manifest" href="/static/js/manifest.webmanifest" crossorigin="use-credentials">
    <script>
    if('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js', {scope: '/'})
               .then(reg => {
				reg.onupdatefound = () => {
                        const installingWorker = reg.installing;
                        installingWorker.onstatechange = () => {
                            switch (installingWorker.state) {
                                case 'installed':
                                    if (navigator.serviceWorker.controller) {
                                        // new update available
                                        resolve(true);
                                    } else {
                                        // no update available
                                        resolve(false);
                                    }
                                    break;
                            }
                        };
                    };
               });
    }
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'settings/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/auth.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/errors.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/modal.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'groups/css/creategroup.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'groups/css/index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'groupchat/css/groupchat.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tree.css' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script>
        document.documentElement.className +=
        (("ontouchstart" in document.documentElement) ? ' touch' : ' no-touch');
    </script>
</head>


<body id="body">
    <div class="page" style="height: 100%;">
        {% block groups %} {% endblock %}
        <div id="react-root" style="height: 100%;">
        </div>
    </div>
    <div id="modal-root"></div>
    <script src="{% static 'js/csrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.bundle.js' %}"></script>
</body>

</html>